@import "./../styles/variables.scss";

.laboratory {
  margin-top: 2.4rem;
}

.laboratory h1 {
  font-size: 4rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  border-radius: 0.8rem;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 2.4rem;
}

.img {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background: #dbdbdb;
  height: 200px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.info {
  padding: 1.5rem;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details a {
  color: #dbdbdb;
}
@media screen and (min-width: 768px) {
  .card-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    width: 45%;
  }
  .card:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: 30%;
  }
}
