@import "./../styles/variables.scss";

.portfolio {
  margin-top: 2.4rem;
}

.portfolio h1 {
  font-size: 4rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .card-list {
    flex-direction: row;
  }
}
