@import "./../styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 0;
  align-items: center;
}

.navbar-brand a {
  color: $primary-color;
  font-size: 2.4rem;
}

.menu-icon span {
  background: $primary-color;
  height: 4px;
  width: 33px;
  margin-bottom: 5px;
  display: block;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  background: $primary-color;
  transition: all 1s;
}

.show-nav {
  max-height: 100%;
  transition: all 1s;
}

.navbar-nav li {
  margin-right: 1rem;
  padding: 3rem 0;
  width: 500px;
  margin: 1rem 0;
  text-align: center;
  transition: all 0.5s;
}

.navbar-nav li:last-of-type {
  margin-right: 0;
}

.navbar-nav li:hover {
  background: #dbdbdb;
}
.navbar-nav a {
  color: #fff;
  transition: all 0.5s;
}

.navbar-nav a:hover {
  color: $primary-color;
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 0;
  }
  .menu-icon {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
    max-height: 100%;
    width: 40%;
    position: static;
    background: none;
  }
  .navbar-nav li {
    width: initial;
  }
  .navbar-nav li {
    margin-right: 1.5rem;
  }
  .navbar-nav li:last-of-type {
    margin-right: 0;
  }
  .navbar-nav li:hover {
    background: none;
  }
}
